{% extends "catalog/index.html" %}

{% load widget_tweaks %}

{% block title %}
Requisição de Material
{% endblock %}

{% block catalog_container %}
<div class="page-header">
    <h1 class="text-center">Requisição de Material</h1>
</div>
  <div class="row">
    <div class="col-md-9 col-md-offset-1">

      {% if formset|length <= 10 %}
      {% else %}
      <div class="alert alert-danger">
        <strong>ATENÇÃO!</strong> Seu pedido não poderá conter mais de 10 materiais diferentes.
      </div>
      {% endif %}

      <h5 style="color:red; "><b>*ATENÇÃO: Antes de finalizar o seu pedido, clique em ATUALIZAR QUANTIDADES</b></h5>
      <form class="" action="" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <table class="table table-bordered">
          <thead>
            <th width="50">
                Item
            </th>
            <th>
                Código
            </th>
            <th>
                Descrição
            </th>
            <th>
                Unidade
            </th>
            <th class="text-center" style="width: 10%;">
                Quantidade
            </th>
            <th>
              Ação
            </th>
          </thead>
          <tbody>

            {% for form in formset %}
              <tr>
                <td>
                  {{ forloop.counter }}
                </td>
                <td>
                    {{ form.instance.codigo }}
                </td>
                <td>
                    {{ form.instance.product }}
                </td>
                <td>
                      {{ form.instance.unid }}
                </td>
                <td>
                    {% render_field form.quantity class="form-control" %}
                </td>
                <td class="text-center">
                    <button value="on" type="submit" name="{{ form.DELETE.html_name }}" class="btn btn-danger btn-sm">Remover</button>
                    {{ form.id }}
                </td>
              </tr>
          </tbody>
          {% endfor %}
        </table>

        {% if formset|length <= 10 %}
        <p class="text-right">
          <a href="{% url 'catalog:product_list' %}" class="pull-left btn btn-info">Continuar Pedido</a>
          <button type="submit" class="btn btn-success" name="button">Atualizar Quantidades</button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Finalizar Pedido</button>
        </p>
        {% else %}
        <p class="text-right">
          <a href="{% url 'catalog:product_list' %}" class="pull-left btn btn-info">Continuar Pedido</a>
          <button type="submit" class="btn btn-success" name="button">Atualizar Quantidades</button>
          <button type="button" class="btn btn-primary disabled" data-toggle="modal" data-target="#myModal">Finalizar Pedido</button>
        </p>
        {% endif %}

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">ATENÇÃO!!!</h4>
              </div>
              <div class="modal-body">
                <p>Certifique-se de ter clicado em ATUALIZAR QUANTIDADES.</P>
                <p>Após finalizado, o pedido não poderá ser alterado.</p>
              </div>
              <div class="modal-footer">
                <a href="{% url 'checkout:cart_item' %}" class="pull-left btn btn-success">Voltar</a>
                <a href="{% url 'checkout:checkout' %}" class="btn btn-primary">Aceitar e Finalizar Pedido</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
