<!DOCTYPE html>
<html>
  <head>
    <title>Página de Impressão</title>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <script type="text/javascript">
      function printpage()
        { window.print() }
    </script>
  </head>

  <table>
    <tr>
      <td>
        <img  align="left" width="400" height="100"
        src="http://www.cdsa.ufcg.edu.br/home/arq/logomarca/logo_atual/UFCG-lateral.png" alt="" />
      </td>
      <td width="50"></td>
      <td width="300">
        <table class="table table-bordered">
          <tr>
            <td align="center" width="100">RM</td>
            <td colspan="3"></td>
          </tr>
          <tr>
            <td align="center" width="100">NF</td>
            <td colspan="3"></td>
          </tr>
          <tr>
            <td width="130">Data de Emissão</td>
            <td width="50"></td>
            <td width="50"></td>
            <td width="50"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <center>
      <h4>REQUISIÇÃO DE MATERIAL</h4>
  </center>

  <body>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="20">Código</th>
          <th>Descrição do Material</th>
          <th width="130">Unidade</th>
          <th width="20">Quant</br>Solicitada</th>
          <th width="20">Quant</br>Autorizada</th>
        </tr>
      </thead>
      <tbody>
        {% for item in object.itens.all %}
        <tr>
          <td>{{ item.codigo }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.unid }}</td>
          <td>{{ item.quantity }}</td>
          <td></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p>
    <div align="right">
      Cuite, {% now "d/F/Y" %}
    </div>
    <p>
    <p>
    <p>
    <div align="center">
      __________________________________________<br/>
      <b>{{ user.name }}</b><br/>
      {{ user.cargo }}</br>
      Mat.: {{ user.matricula }}
    </div>
  </font>
  </body>
</html>
